body {
	font-family: "Segoe UI", "Helvetica", "Helvetica Neue";
	color: rgb(235, 235, 235);
	background-color: rgb(50, 50, 50);
	text-align: center;
	margin: auto;
	/*width: 800px;*/
}

header {
	background-color: rgb(30, 30, 30);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 4px;
	text-align: center;
	border-bottom: 1px solid black;
}

footer {
	background-color: rgb(30, 30, 30);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.title {
	font-size: 36px;
	text-decoration: none;
}

.headerlink {
	font-size: 28px;
	margin-left: 60px;
	text-decoration: none;
}

.note {
	font-size: 14;
	color: rgb(200, 200, 200);
}

.raidfilter {
	margin-bottom: 5px;
	margin-right: 8px;
	text-align: left;
}

.bunchoftext {
	width: 500px;
	margin: auto;
	text-align: left;
}

h1 {
	margin-top: 70px;
}

table {
	border-collapse: collapse;
	background-color: rgb(70, 70, 70);
	margin: auto;
	margin-bottom: 20px;
}

tr:hover {
	background-color: rgb(30,30,30)
}

th, td {
	border: 1px solid black;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

th {
	background-color: rgb(35, 35, 35);
}

th:hover {
	color: rgb(255, 0, 0);
}

td {
	text-align: left;
}

table.sortable thead {
 	font-weight: bold;
 	cursor: default;
}

a {
	text-decoration-style: dotted;
	color: inherit;
}

a:hover, a:active {
	text-decoration-style: solid;
}

.class1 { /* Warrior */
	color: #C79C6E;
}

.class2 { /* Paladin */
	color: #F58CBA;
}

.class3 { /* Hunter */
	color: #ABD473;
}

.class4 { /* Rogue */
	color: #FFF569;
}

.class5 { /* Priest */
	color: #FFFFFF;
}

.class7 { /* Shaman */
	color: #0070DE;
}

.class8 { /* Mage */
	color: #69CCF0;
}

.class9 { /* Warlock */
	color: #9482C9;
}

.class11 { /* Druid */
	color: #FF7D0A;
}

.faction0 { /* Alliance */
	/*color: #223355;*/
	color: #0090ee;
}

.faction1 { /* Horde */
	/*color: #883333;*/
	color: red;
}